.win95-window {
    background: #c0c0c0;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    border: 2px solid #000;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #404040;
    border-bottom-color: #404040;
    padding: 6px;
  }
  
  .win95-titlebar {
    background: #000080;
    color: #fff;
    font-weight: bold;
    padding: 3px 6px;
    border: 1px solid #000080;
    border-top-color: #808080;
    border-left-color: #808080;
    border-right-color: #000040;
    border-bottom-color: #000040;
  }
  
  .win95-titlebar .win95-title {
    font-size: 13px;
    line-height: 1.1;
  }
  
  .win95-content {
    background: #c0c0c0;
    border: 2px solid #808080;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #404040;
    border-bottom-color: #404040;
    padding: 8px;
  }
  
  .win95-button {
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    min-width: 68px;
    padding: 2px 10px;
    background: #c0c0c0;
    color: #000;
    border: 2px solid #c0c0c0;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #404040;
    border-bottom-color: #404040;
    cursor: pointer;
  }
  
  .win95-button:active,
  .win95-button.is-pressed {
    border-top-color: #404040;
    border-left-color: #404040;
    border-right-color: #fff;
    border-bottom-color: #fff;
    padding-top: 3px;
    padding-left: 11px;
    padding-bottom: 1px;
    padding-right: 9px;
  }
  
  .win95-input,
  .win95-select,
  .win95-textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    background: #fff;
    color: #000;
    border: 2px solid #808080;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #404040;
    border-bottom-color: #404040;
    padding: 2px 4px;
  }
  
  .win95-input:focus,
  .win95-select:focus,
  .win95-textarea:focus {
    outline: none;
  }
  
  .win95-statusbar {
    background: #c0c0c0;
    color: #000;
    font-size: 12px;
    padding: 2px 6px;
    border: 2px solid #808080;
    border-top-color: #404040;
    border-left-color: #404040;
    border-right-color: #fff;
    border-bottom-color: #fff;
  }

.win95-menubar {
    background: #c0c0c0;
    border-bottom: 2px solid #808080;
    border-top: 2px solid #ffffff;
    padding: 2px 6px;
  }
  
  .win95-menu-item {
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    padding: 2px 6px;
    display: inline-block;
    cursor: default;
  }
  
  .win95-menu-item:hover {
    background: #000080;
    color: #ffffff;
  }